body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding: 40px;
}

#timeline {
    position: relative;
    width: 100%;
    max-width: 1460px;
    height: 20px;
    background-color: #df5200;
    margin: 50px auto;
    cursor: pointer;
}

#tooltip {
    display: none;
    position: absolute;
    background: black;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    transform: translateX(-50%);            /*position tooltip to be in the middle compared to mouse pointer*/    
    pointer-events: none;
}