body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding: 40px;
    background: linear-gradient(
        to right,
        rgb(255, 179, 186) 0%,    /* Soft Red */
        rgb(255, 223, 186) 16%,   /* Soft Orange */
        rgb(255, 255, 186) 32%,   /* Soft Yellow */
        rgb(186, 255, 201) 48%,   /* Soft Green */
        rgb(186, 225, 255) 64%,   /* Soft Blue */
        rgb(204, 186, 255) 80%,   /* Soft Indigo */
        rgb(255, 186, 255) 100%   /* Soft Violet */
    );
}

#years {
    width: 100%;
    max-width: 800px;
    height: 30px;
    margin: 10px auto;
    font-size: 14px;
    background-color: rgb(224, 138, 224);
}

#timeline {
    position: relative;
    width: 100%;
    max-width: 1460px;
    height: 20px;
    background-color: #df5200;
    margin: 50px auto;
    border-radius: 5px;
    cursor: pointer;
}

#tooltip {
    display: none;
    position: absolute;
    background: black;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    transform: translateX(-50%);            /*position tooltip to be in the middle compared to mouse pointer*/    
    border-radius: 5px;
    pointer-events: none;
}

#articles {
    position: static;
    background-color: black;
    color: white;
    width: 100%;
    max-width: 730px;
    height: auto;
    margin: 50px auto;
    font-size: 14px;
}

#total-stolen-this-year {
    position: static;
    background-color: green;
    color: black;
    width: 100%;
    max-width: 200px;
    height: 20px;
    margin: 50px auto;
    font-size: 12px;
}